src/ws.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.ryanhamlin.co.uk/ws/imageWS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.ryanhamlin.co.uk/ws/imageWS">
<types>
<xsd:schema targetNamespace="http://www.ryanhamlin.co.uk/ws/imageWS"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
</xsd:schema>
</types>
<message name="ws_funcs.check_serviceRequest">
  <part name="client_key" type="xsd:string" /></message>
<message name="ws_funcs.check_serviceResponse">
  <part name="return" type="xsd:string" /></message>
<message name="ws_funcs.process_imageRequest">
  <part name="client_key" type="xsd:string" />
  <part name="requestee" type="xsd:string" />
  <part name="requesteddate" type="xsd:string" />
  <part name="payload" type="xsd:string" /></message>
<message name="ws_funcs.process_imageResponse">
  <part name="return" type="xsd:string" /></message>
<portType name="imageWSPortType">
  <operation name="ws_funcs.check_service">
    <documentation>Test the image webservice connection</documentation>
    <input message="tns:ws_funcs.check_serviceRequest"/>
    <output message="tns:ws_funcs.check_serviceResponse"/>
  </operation>
  <operation name="ws_funcs.process_image">
    <documentation>Send process request and payload to image webservice</documentation>
    <input message="tns:ws_funcs.process_imageRequest"/>
    <output message="tns:ws_funcs.process_imageResponse"/>
  </operation>
</portType>
<binding name="imageWSBinding" type="tns:imageWSPortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="ws_funcs.check_service">
    <soap:operation soapAction="http://www.ryanhamlin.co.uk/ws/imageWS#check_service" style="rpc"/>
    <input><soap:body use="encoded" namespace="http://www.ryanhamlin.co.uk/ws/imageWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://www.ryanhamlin.co.uk/ws/imageWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="ws_funcs.process_image">
    <soap:operation soapAction="http://www.ryanhamlin.co.uk/ws/imageWS2#process_image" style="rpc"/>
    <input><soap:body use="encoded" namespace="http://www.ryanhamlin.co.uk/ws/imageWS2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://www.ryanhamlin.co.uk/ws/imageWS2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="imageWS">
  <port name="imageWSPort" binding="tns:imageWSBinding">
    <soap:address location="http://ryanhamlin.co.uk/ws/ws.php"/>
  </port>
</service>
</definitions>